<a href="https://colab.research.google.com/github/kulharsh/TextClassification/blob/main/Yelp_ReviewEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("drive/MyDrive/Colab Notebooks/TextClassification/reviews_sampled.csv", compression='gzip')

In [5]:
df.head()

   Unnamed: 0  ...                                               text
0     4267491  ...  b'Ordered a simple burger and asked for no ket...
1     6538452  ...  b"I don't know if we were nicer than her norma...
2     7788953  ...  b"I liked this place. \n\nClean and tidy I enj...
3     7699683  ...  b"After spending a day and a half in the hospi...
4     6282081  ...  b'Coming out of college I had experience with ...

[5 rows x 10 columns]

In [7]:
df['stars'].value_counts()

5.0    882745
4.0    445170
1.0    292852
3.0    214606
2.0    164627
Name: stars, dtype: int64